/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* top banner */
.top-bar{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
}
.left-content{
    float: left;
    width: 485px;
    height: 270px;
    background-color: #2D25A0;
    margin-top: 160px;
    margin-left: 200px;
}
.left-content h1{
    font-size: 50px;
    line-height: 80px;
    color: #FFFFFF;
    
}
.left-content a{
    text-decoration: none;
     width: 168px;
     height: 44px;
     background-color: #E02C6D;
     padding: 12px;
     padding-left: 30px;
     padding-right: 30px;
     color: #FFFFFF;

}
.left-content i{
       margin-left: 6px;
}

/* right-content */
.right-content{
    float: right;
    width: 50%;
    height: 677px;
}
.right-content a{
    float: right;
    text-decoration: none;
     width: 100px;
     height: 30px;
     background-color: #E02C6D;
     padding: 10px;
     padding-left: 30px;
     padding-right: 0px;
     color: #FFFFFF;
     margin-right: 80px;
     margin-top: 7%;
}
.right-content i{
    margin-right: 6px;
}
.right-content img{
    width: 80%;
    height: 80%;
    position: relative;
    padding-top: 0%;
   
}
.right-content img:hover{
    transform: rotate(30deg) scale(1);
    transition: all 1s;
}
 /* playesrs section */
 .grid-container{
     display: grid;
     grid-template-columns: auto auto auto;
     background-color: #FFFFFF;
     grid-row-gap: 50px;
     margin-left: 15%;
     margin-right: 11%;
     margin-top: 5%;
    
 }
 .grid-item{
     background-color: #FFFFFF;
     height: 474px;
     width: 330px;
     box-shadow: 5px 5px 20px rgb(117 114 114);

 }
 .grid-item img{
     height: 55%;
     width: 90%;
     padding: 15px;
 }
 .grid-item h2{
     padding-left: 5%;
 }
 .grid-item p{
     padding-left: 5%;
     color: #6C6C6C;
     font-size: 16px;
     margin-right: 3%;

 }
 /* ......news style.... */
 span{
     text-align: center;
     padding: 10%;
 }
 .news-item{
   display: grid;
   grid-row-gap: 50px;
   grid-column-gap: 0px;
   grid-template-columns: auto auto;
   margin-left: 15%;
   margin-right: 11%;
   margin-top: 5%;
  
 }
 .news{
    background-color: #FFFFFF;
     height: 220px;
     width: 560px;
     box-shadow: 5px 5px 20px rgb(117 114 114);
 }
 .news img{
     float: left;
     margin: 3%;
     width: 40%;
     height: 85%;
 }
 .news a{
     text-align: center;
     font-size: 20px;
     color: rgb(41, 33, 33);
     
 }
 .button1 a{
    font-size: 12px;
    width: 70px;
    height: 30px;
    background-color: #E02C6D;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: #FFFFFF;
    float: left;
    margin-top: 10%;
    text-decoration: none;
   
 }
 .button2 a{
    font-size: 12px;
    width: 70px;
    height: 30px;
    background-color: #E02C6D;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: #FFFFFF;
    float: left;
    margin-top: 9px;
    text-decoration: none;
 }

 /* ....chaimpion content..... */

.chaimpion{
 margin-top: 7%;
 width: 100%;
 height: 500px;
 
}
.chaimpion img{
    width: 60%;
    height: 100%;
    
}
.chaimpion h1{
    float: right;
    text-align: center;
    font-size: 50px;
    margin-right: 5%;
    margin-top: 10%;
}

/* ......footer part..... */
.ending{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}
.ending img{
    width: 590px;
    height: 180px;
}
.ending .logo i{
   width: 32px;
   height: 32px;
   position: static;
   margin-left: 0%;
   margin-right: 0%;
   color: grey;
}
.ending .logo .p{
    font-weight: ;
}

/* Mobile Sevices */
@media only screen and (max-width:688){
    
}